#menu{margin-right:auto;margin-left:auto;text-align:center; font-size:13px;}
#menu ul{height:30px;}
#menu li{list-style:none;padding:0 10px 0 10px;display:inline;}
#menu a{color:#999; text-decoration:none;}
#menu a:hover{color:#999; text-decoration:underline;}